<html>
<head>
    <title>home page</title>
</head>
<body>
    <h1>Currency Conversion</h1>
    <form action="/result" method="post" id="form">
        <h2>From</h2>
        <label for="currency1">Choose a Currency:</label>
        <select id="currency1" name="currency">
            <option value="dollar">dollar</option>
            <option value="rupee">rupee</option>
            <option value="pound">pound</option>
            <option value="yen">yen</option>
        </select>
        <br />
        <h2>To</h2>
        <label for="currency2">Choose a Currency:</label>
        <select id="currency2" name="currency">
            <option value="dollar">dollar</option>
            <option value="rupee">rupee</option>
            <option value="pound">pound</option>
            <option value="yen">yen</option>
        </select>
        <br /><br />
        <label
        <label for="amount">Enter amount:</label>
        <input type="number" step = "0.01" id="amount" name="amount" >
        <br /><br />
        <input type="submit" value="Submit">
    </form>

</body>
</html>